<.header>
  Peaks
</.header>

<.table id="peaks" rows={@peaks} row_click={&JS.navigate(~p"/peaks/#{&1.slug}")}>
  <:col :let={peak} label="Name"><%= peak.name %></:col>
  <:col :let={peak} label="Scale count"><%= peak.scale_count %></:col>
  <:action :let={peak}>
    <div class="sr-only">
      <.link navigate={~p"/peaks/#{peak.slug}"}>Show</.link>
    </div>
  </:action>
</.table>
